{% extends "layout.html" %}

{% block body %}
  {% if current_user.is_authenticated %}
  <div class="table-responsive">
    <table class="table table-hover">
      <p>Create new categories:</p>
      <form method="POST" action="{{ url_for('category_create') }}">
        <tr>
          <td>{{ form.category.label }}</td>
          <td>{{ form.category }}</td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Create"/>
          </td>
        </tr>
      </form>
    </table>
  </div>
  <body>
    <div class="container">
      {{ pagination.links }}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories_list %}
            <tr>
              <td>{{ loop.index + (page - 1) * per_page }}</td>
              {% if category.account_id == 0 %}
              <td>{{ category.category }}</td>
            </tr>
            <tr>
            {% elif category.account_id != 0 %}
              <td>
                <a href="{{ url_for('category_update_form', category_id=category.id, category_category=category.category) }}">{{ category.category }}</a>
              </td>
              <td>
                <form method="POST" action="{{ url_for('category_delete', category_id=category.id) }}">
                  <input type="Submit" value="Delete"/>
                </form>
              </td>
              {% endif %}
   	    </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pagination.links }}
    </div>
  </body>
  {% endif %}
{% endblock %}
