{% extends "layout.html" %}

{% block body %}
<style>
th, td {
  padding: 10px;
}  
</style>
<p style="color:red">{{ error }}</p> 
  <table style="width:70%">
    <tr>
      <p style="color:green">Use characters: A-Z, a-z, 0-9</p>
      <th style="font-size:25px">Category:</>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.category }}</td>
      <td>
        <form method="POST" action="{{ url_for('category_delete', category_id=category.id) }}">
          <input type="Submit" value="Delete"/>
        </form>
      </td>
      <td>
        <a href="{{ url_for('category_update_form', category_id=category.id) }}">Edit</a>
      </td>
    </tr>
    {% endfor %}
    <td>
      <ul>
        {% for error in form.category.errors %}
        <li>{{ error }}</li>
        {% endfor%}
      </ul>
    </td>
  </table>
{% endblock %}

