{% extends "layout.html" %}

{% block body %}
{{error}}
  <table>
    <tr>
      <th>Category</>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.category }}</td>
      <td>
        <form method="POST" action="{{ url_for('category_update', category_id=category.id) }}">
          <tr>
            <td>
              <p>Update {{ category.category }}:</p>
              {{ form.category }}
            </td>
            <td>
              <ul>
                {% for error in form.category.errors %}
                <li>{{ error }}</li>
                {% endfor%}
              </ul>
            </td>
            <td> 
              <input type="submit" value="Update {{ category.category }}"/>
            </td>
          </tr>      
        </form>
      </td>
      <td> 
        <form method="POST" action="{{ url_for('category_delete', category_id=category.id) }}">
          <input type="Submit" value="Delete {{ category.category }}"/>
        </form>
       </td>
     </tr>
    {% endfor %}
  </table>
{% endblock %}

