{% extends "layout.html" %}

{% block body %}
<p>Allowed chracters are: a-z, 0-9</p>
<form method="POST" action="{{ url_for('category_create') }}">
  <table>
    <tr>
      <td>
        {{ form.category.label }}
      </td>
      <td>
        {{ form.category }}
      </td>
      <td>
        <ul>
          {% for error in form.category.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Add a new category"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
