{% extends "layout.html" %}

{% block body %}
<style>
table {
  width: 80%;
}
table, td, th {
  padding: 10px;
  text-align: right;
}

</style>
<h5 style="padding:10px">Products</h5>
  <table>
    <tr>
      <th>Product</>
      <th>Price</>
      <th>Category</>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category}}</td> 
      <td>
        <form method="POST" action="{{ url_for('product_delete', product_id=product.id) }}">
          <input type="submit" value="Delete"/> 
        </form>
      </td>
      <td>
        <a href="{{ url_for('update_product_form', product_id=product.id) }}">Edit</a>
      </td>
    {% endfor %}
  </table>
{% endblock %}

