{% extends "layout.html" %}

{% block body %}
<div class="container">
  <table>
    <form method="POST" action"{{ url_for('auth_login') }}">
      <tr>
        <td>{{ form.username.label }}</td>
        <td>{{ form.username }}</td>
        <td>
          <ul>
          {{ for error in form.username.data }}
            <li>{{ error }}</li>
          {{ endfor }}
          </ul>
        </td> 
      </tr>
      <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ form.password }}</td>
        <td>
          <ul>
          {{ for error in form.password.data }}
            <li>{{ error }}</li>
          {{ endfor }}
          </ul>
        </td>

      </tr>
      <tr>
        <td colspan="3">
          <input type="submit" value="login">
        </td>
      </tr>
      <tr>
        <td>
          <p> Login or create an account first. </p>
          <a href="{{ url_for('auth_create') }}">Create account</a>
        </td>
      </tr>
    </form>
  </table>
</div>
{% endblock %}
