{% extends "layout.html" %}

{% block body%}
{{ error }}
<p>Allowed characters are: a-ö, 0-9, ! and ?</p>
<form method="POST" action="{{ url_for('auth_create') }}">
  <table>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %} 
        </ul>
      </td>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>  
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %} 
        </ul>
      </td>  
    </tr>
    <tr>
      <td>
        <input type="submit" value="Create a new Account"/>
      </td>
    </tr>
  </table> 
</form>
{% endblock %}
