{% extends "layout.html" %}

{% block body %}
<p>Use characters A-Z, a-z.</p>
<form method="POST" action="{{ url_for('shoppinglist_create') }}">
  <table sryle"width:100%">
    <tr>
      <td colspan="3">
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td colspan="3">
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Create"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}

