{% extends "layout.html" %}
{{ error }}
{% block body %}
  <table>
    <tr>
      <th>Product:</th>
      <th>Category:</th>
      <th>Amount:</th>
      <th>Price per kg/piece:</th>
      <th>Price total:</th>
    </tr>
    {% for content in list %}
    <tr>
      <td>{{ content.name }}</td>
      <td>{{ content.category }}</td>
      <td>{{ content.product_total }}</td>
      <td>{{ content.price }}</td>
      <td>{{ content.in_total }}</td>
    </tr>
    {% endfor %}
    {% for price in total%} 
    <tr>     
      <th>Total price for shoppinglist:</th>
      <td>{{ price.total }}</td>
    </tr>
    {% endfor %}
    </table> 
      <form method="POST", action="{{ url_for('shoppinglist_update', shoppinglist_id=slist_id)  }}">
        <table>
         <tr>
           <td>
             {{ form.product_id.label }}
           </td> 
           <td>
             {{ form.product_id}}
           </td>     
           <td>         
             <ul>
               {% for error in form.product_id.errors %}
               <li>{{ error }}</li>
               {% endfor %}
             </ul>
           </td>
         </tr>
         <tr>
           <td>
             {{ form.amount.label }}
           </td>
          <td>
             {{ form.amount }}
          </td>
          <td>
            <ul>
              {% for error in form.amount.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <input type="submit" value="Add a new product"/>
          </td>
        </tr>
          <p>If there are no products to choose or they are not the needed ones, please create some products first.</p>
          <p>By incorrect amount of a product, just add the product again with corrected amount.</p>
          <p>If you want to delete product from list, choose it for adding and set amount to 0 and add it.</p>
     </form>
  </table>
{% endblock %}
